.main-container {
  display: flex;
  height: calc(100vh - 72px);
}

.nav-container {
  box-shadow: -2px -13px 12px 5px #36c9b3;

}

.sidebar-container {
  min-width: 20%;
  box-shadow: -2px -13px 12px 5px #36c9b3;
}

.content-container {
  min-width: 80%;
  overflow-y: auto;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 300px;
  justify-content: center;
  box-sizing: border-box;
  margin: 1rem .25em;
  max-width: 300px;
}

.form-popup {
  display: none;
  position: fixed;
  margin: auto;
  width: 340px;
  top: 10%;
  left: 45%;
  border: 3px solid #000;
  z-index: 9;
}

.form-container {
  padding: 10px;
  background-color: white;

}

.form-container input button {
  float: right;
  padding: 15px;
  top: 0;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container .cancel {
  background-color: red;
}

/*Add some hover effects to buttons*/
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.filter-container {
  height: 50%;
}

.searchshoe {
  width: 600px;
  left: 28%;
}

@media screen and (min-width: 280px) and (max-width: 1024px) {
  .searchshoe {
    width: 90%;
    left: 0%;
  }

  .sidebar-container {
    min-width: 100%;
    box-shadow: -2px -13px 12px 5px #36c9b3;
  }

}
@media screen and (min-width: 280px) and (max-width: 767px) {

  .form-popup {
    display: none;
    position: fixed;
    margin: auto;
    width: 70%;
    top: 10%;
    left: 15%;
    border: 3px solid #000;
    z-index: 9;
  }
}


.catgalign {
  margin-left: 0.5em;
}

.description {
  text-align: center;
  font-size: 15px;
  font-style: italic;
}

.one-line {
  display: flex;
  justify-content: space-between
}