.main-container{
  display: flex;
  height: 100vh;
}


.sidebar-container{
  min-width:15%;
  background-color: rgb(165 165 165);
}

.content-container{
  min-width:85%;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 300px;
  justify-content: center;
  box-sizing: border-box;
  margin: 1rem .25em;
  max-width: 300px;

}