.main-container{
  display: flex;
  height: calc(100vh - 72px);
}

.nav-container{
  background-color: rgb(160 160 160);
}

.sidebar-container{
  min-width:20%;
  box-shadow: -2px -13px 12px 5px #36c9b3;
}

.content-container{
  min-width:80%;
  overflow-y: auto;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 300px;
  justify-content: center;
  box-sizing: border-box;
  margin: 1rem .25em;
  max-width: 300px;

}
.filter-container{
  height: 50%;
}